<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="ant" />
    <package id="bitwarden" />
    <package id="googlechrome" />
    <package id="intellijidea-ultimate" />
    <package id="zulu8" />
    <package id="tortoisesvn" />
    <package id="7zip" />
    <package id="git" />
    <package id="vlc" />
    <package id="vim" />
    <package id="virtualbox" />
</packages>
