<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="adobereader" />
    <package id="ant" />
    <package id="googlechrome" />
    <package id="intellijidea-ultimate" />
    <package id="jdk8" />
    <package id="tortoisesvn" />
    <package id="7zip" />
    <package id="skype" />
    <package id="vlc" />
    <package id="virtualbox" />
</packages>
