<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="bitwarden" />
    <package id="intellijidea-ultimate" />
    <package id="oh-my-posh" />
    <package id="powershell-core" />
    <package id="powertoys" />
    <package id="temurin17" />
    <package id="tortoisesvn" />
    <package id="7zip" />
    <package id="git" />
    <package id="vlc" />
    <package id="vim" />
</packages>
