set ic
set nu
set hlsearch
set incsearch
set surround

let mapleader=","
nnoremap <esc> :noh<return><esc>
map <leader>* *<C-O>:%s///gn<CR>

map <leader><Tab> :action ConvertIndentsToTabs<CR>
map <leader><Space> :action ConvertIndentsToSpaces<CR>

vnoremap // y/\V<C-R>=escape(@",'/\')<CR><CR>
